body {
    /* margin-left: 6vw;
    margin-right: 6vw; */
    margin-top: 5vw;
}

.nav {
    /* display: flex;
    justify-content: center; */
    margin-top: -20px;
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 390px;
    width: 100%;
}

/* .nav__logo {
    margin-right: 2vw;
} */

.dropdown {
    display: none;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 1vw; */
    width: 217px;
   
}

.nav__link { 
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #242635;
    text-decoration: none;
}

.nav__link:hover {
    color: #24263583;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 590px
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8vw;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    /* identical to box height, or 113% */
    letter-spacing: -2px;
    color: #242635;
    margin-bottom: 46px;
}

.header__paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    /* or 150% */
    color: #242635;
    max-width: 410px;
    width: 100%;
    margin-bottom: 2vw;
}

.header__arrowbox {
    /* min-height: 160px; */
    display: flex;
    align-items: flex-end;
}

.header__arrow:hover {
    opacity: 0.5;
}

/* .header__hero {
    background-color: azure;
} */

.header__heroimg:hover {
    transform: scale(1.04);
    transition-delay: 0.3s;
    transition-duration: 0.5s;
}

@media screen and (max-width: 1327px) {
    .header__heroimg {
        background-image: url(/images/Image-m.png);
    }

    .header__container {
        margin-right: 4vw;
    }

    .nav__container {
        max-width: 350px;
        width: 100%;
    }

    .header__text {
        font-size: 22px;
    }
}

@media screen and (max-width: 1188px) {
    
    .header__heading {
        font-size: 72px;
        margin-top: 10vw;
        text-align: center;
    }

    .header__text {
        text-align: center;
    }

    .header__paragraph {
        max-width: 576px;
        width: 100%;
        margin-bottom: 4vw;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 590px
    }

    .header__container {
        margin-right: -0vw;
    }

    .nav {
        margin-bottom: 6vw;
    }

    .nav__container {
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        max-width: 900px;
        width: 100%;
    }

    .header__arrowbox {
        display: none;
    }
}


@media screen and (max-width: 710px) {

    .header__heroimg {
        background-image: url(/images/Image-s.png); /*doesnt seem to work*/
        max-width: 256px;
        width: 100%px;
    }

    .header__heading {
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 110% */
        text-align: center;
        letter-spacing: -0.8px;
        margin-bottom: 15px;
    }

    .header__container {
        width: 256px;
    }

    .header__paragraph {
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
        text-align: center;
    }

    .nav__menu {
        display: none;
    }

    .dropdown {
        /* display: flex;
        align-items: center; */
        position: relative;
        display: inline-block;
    }

    /* .dropdown:hover {
        opacity: 0.5;
    } */

    .dropdown__content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
    }

    .dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown__content {
        display: block;
    }
}